.project .content {
	width: 100%;
	float: none;
	border-right: 0;
	padding-right: 0;
}

.project .content h3 {
	font-size: 4.6em;
	font-weight: 300;

	@media (max-width: 767px) {
		font-size: 3.5em;
	}
}

.project__content {
	padding-bottom: $gutter;
}

.project__content h4 {
	font-size: 2.5em;
	margin-bottom: $gutter / 2;
}

.project__content p {
	font-size: 1.8em;
}

.project__content ul,
.project__content ol {
	font-size: 1.8em;
	padding-left: $gutter / 2;
	margin-left: $gutter / 2;
}

.project__content li {
	margin-bottom: $gutter / 4;
}

.project .project__header {
	position: relative;
	width: 100%;
	display: table;
	margin-bottom: $gutter * 2;
}


.project__thumbnail {
	position: absolute;
	width: 65%;
	height: 100%;
	background-size: cover;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: palette('black');
		opacity: 0.3;
		z-index: 1;
	}

	@media (max-width: 767px) {
		width: 100%;
		position: relative;
		// min-height: 300px;
	}
}

.project__thumbnail--video {
	&:before {
		content: none;
	}

	@media (max-width: 767px) {
		height: 0;
		padding-bottom: 56.25%;
		min-height: 0;
	}
}

.project__thumbnail img,
.project__thumbnail iframe {
	display: block;
	width: 100%;
}

.project__thumbnail img {
	height: auto;
	max-width: 100%;
	position: relative;

	@media (min-width: 768px) {
		position: absolute;
		height: 100%;
		width: auto;
		max-width: none;
	}
}

.project__thumbnail iframe {
	position: absolute;
	height: 100%;
}

.header__content {
	position: relative;
	width: 35%;
	float: right;
	text-align: right;
	font-size: 1.5em;

	@media (max-width: 767px) {
		width: 100%;
		float: none;
	}
}

.header__content p {
	font-size: 1.2em;
}

.header__content p strong {
	font-size: 2em;
	font-weight: 700;
	display: block;
}

.text-before-link {
	margin-bottom: 0;
}

.text-before-link + a {
	color: palette('success');
	font-size: 0.875rem;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 0;

	&:hover {
		text-decoration: underline;
	}

	& + p {
		margin-top: 1.25rem;
	}
}

.header__content h4 {
	text-align: left;
	color: palette('success');
	font-size: 1.6em;
	padding-left: $gutter / 2;
}

.header__content h4 strong {
	font-size: 2em;
	line-height: 1.5em;
}

.header__content .btn {
	margin-top: $gutter;
	margin-bottom: 0;
	font-size: 1em;
}

.header__content em {
	font-size: 0.8em;
}

.project__percentage {
	position: relative;
	width: 110%;
	height: 30px;
	background-color: rgba(32, 211, 134, 0.5);
	margin-bottom: $gutter / 2;
	margin-left: -10%;

	@media (max-width: 767px) {
		width: 100%;
		margin-left: 0;
	}
}

.project__percentage span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-color: palette('success', 'dark');
	height: 100%;
}

.project__footer {
	text-align: right;
	background: none;
	color: inherit;
}

.project__footer dt {
	font-weight: inherit;
}

.project__footer dd {
	font-weight: bolder;
}

.donations-table {
	margin-bottom: 4.5rem;
}
