footer {
	width: 100%;
	background-color: palette('primary');
	color: palette('white');
}

footer .container {
	display: table;
	padding: $gutter * 2;

	@media (max-width: 767px) {
		padding: $gutter * 2 $gutter / 2;
	}
}

footer h1 {
	@extend .hide-text;
	float: left;
	display: block;
	width: 213px;
	height: 39px;
	background-repeat: no-repeat;
	margin-right: $gutter;

	@media (max-width: 767px) {
		float: none;
	}
}

footer h2 {
	text-align: right;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 0.2em;
	color: palette('white');
	margin-bottom: $gutter * 3;

	@media (max-width: 767px) {
		float: none;
		margin: $gutter 0;
	}
}

footer .partners {
	width: 100%;
	clear: both;
	text-align: right;
}

footer .partners strong {
	color: palette('secundary', 'light');
	text-transform: uppercase;
}

footer .partners ul {
	display: inline-block;
	list-style: none;
}

footer .partners li {
	display: inline-block;
	margin-left: $gutter;

	@media (max-width: 767px) {
		margin-bottom: $gutter / 2;
	}
}

footer .partners img {
	vertical-align: middle;
}
