nav ul {
	list-style: none;
}

nav ul li {
	text-align: right;
	margin-bottom: $gutter / 2;
}

nav ul li a {
	color: palette('white');
	font-weight: 300;
	font-size: 2.8em;
	text-decoration: none;
	transition: color 250ms;

	&:hover {
		color: palette('secundary');
	}
}
