aside {
	max-width: 360px;
}

aside h2 {
	color: palette('blue', 'light');
	font-size: 4.2em;
	font-weight: 300;
	margin-bottom: $gutter;
}

aside h3 {
	color: palette('black', 'light');
	font-size: 2.4em;
	font-weight: 700;
	margin-bottom: $gutter / 2;
}

aside p {
	font-size: 1.8em;
	margin-bottom: $gutter;
}

aside ul {
	list-style: none;
}

aside ul li {
	position: relative;
	font-size: 1.8em;
	padding-left: $gutter / 2;
	margin-bottom: $gutter;
	line-height: 1.6em;

	&:before {
		content: '\2219';
		position: absolute;
		left: 0;
		top: 1px;
		color: palette('blue', 'light');
		font-size: 1.5em;
		font-family: monospace;
	}
}

aside hr {
	margin: $gutter 0;
	width: 63px;
	border: 0;
	border-bottom: 3px solid palette('primary', 'x-light');
}
