.shell {
	width: 100%;
}

.intern {
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 48% auto;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;

	@media (max-width: 1109px) {
		padding-left: $gutter / 2;
		padding-right: $gutter / 2;
	}
}
