.shell {
	width: 100%;
}

.intern {
	background-repeat: no-repeat;
	background-position: top -11% right -10%;
	background-size: 48% auto;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
}
