[role="banner"] h1 {
	background-image: url('../assets/img/customization/logo.png');
}

[role="banner"].open h1 {
	background-image: url('../assets/img/customization/logo_nav.png');
}

footer h1 {
	background-image: url('../assets/img/customization/logo_bw.png');
}

.slogan {
	background-image: url('../assets/img/customization/bg_header.jpg');
}

.video {
	background-image: url('../assets/img/customization/bg_video.jpg');
}

.programs .programs__program .program__content {
	background-image: url('../assets/img/customization/bg_programs.jpg');
}
