[role="banner"] h1 {
	background-image: url('../assets/img/customization/logo.png');
}

[role="banner"].open h1 {
	background-image: url('../assets/img/customization/logo_nav.png');
}

footer h1 {
	background-image: url('../assets/img/customization/logo_bw.png');
}

.intern {
	background-image: url('../assets/img/customization/bg_intern.png');

	@media (max-width: 767px) {
		background: none;
	}
}

.slogan {
	background-image: url('../assets/img/customization/bg_header.jpg');

	@media (max-width: 1109px) {
		background: none;
	}
}

.video {
	background-image: url('../assets/img/customization/bg_video.jpg');
}

.programs .programs__program {
	&:nth-child(1n) {
		.program__content {
			background-image: url('../assets/img/customization/bg_home_project.jpg');
		}
	}
	&:nth-child(2n) {
		.program__content {
			background-image: url('../assets/img/customization/bg_home_service.jpg');
		}
	}
	&:nth-child(3n) {
		.program__content {
			background-image: url('../assets/img/customization/bg_home_donation.jpg');
		}
	}
}
